@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');



}
h1, h2, h3, h4, h5, h6, span, p {
  font-family: "Space Grotesk", sans-serif !important;
}

.line {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 1px;

}

@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(200px) scale(0.8);

  }

  100% {
    transform: translateY(0);
  }
}

@keyframes animateAfter {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-250px) scale(1.2);

  }

  100% {
    transform: translateX(0);
  }
}